.component-container {
    flex: 1;
    padding: 15px;
}

.component-info-box {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.component-info-box:last-child {
    border-bottom: none;
}

#component-name {
    display: flex;
    align-items: center;
    flex: 4;
    font-size: 20px;
}

#component-additional-info {
    margin-left: 30px;
    font-size: 13px;
    flex: 7;
}