.product-container {
    flex: 1;
    padding: 15px
}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-button-change {
    background-color: rgb(97, 97, 255);
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 5px;
    padding: 4px 10px;
}

.product-button-change:hover {
    background-color: rgb(77, 77, 184);
}


.product-button-confirm {
    background-color: rgb(97, 97, 255);
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 15px;
}

.product-button-confirm:hover {
    background-color: rgb(77, 77, 184);
}

#product-button-confirm-container {
    display: flex;
    justify-content: center;
}

#product-chosen-amount {
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    margin: 0px;
    padding: 0px;
}